@import url('https://fonts.googleapis.com/css2?family=belleza&display=swap');
.main-section{
    width: 80%;
    margin: auto;
    min-height: 70vh;
    margin-top: 100px;
}

@media screen and (max-width:520px)
{
    .main-section{
        width: 75%;
        margin: auto;
    }
}
.heading{
    font-family: "Belleza";
    margin: 15px;
}
