@import url('https://fonts.googleapis.com/css2?family=belleza&display=swap');
.blog-section {
  width: 80%;
  margin: auto;
  max-height: 73vh;
  margin-top: 100px;
}
.BlogCardWrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.blog-section .heading {
  position: relative;
  margin: 10px 0 25px 30px;
}

.blog-section .heading h1 {
  margin-bottom: 0;
  font-family: 'Belleza', sans-serif;
  font-size: 45px;
  margin-bottom: 5px;
}

/* Two lines below portfolio start*/
.blog-section .heading h1::before {
  content: '';
  height: 3px;
  width: 95px;
  background-color: #f3af3b;
  position: absolute;
  top: 105%;
  left: 0;
}

.blog-section .heading h1::after {
  content: '';
  height: 3px;
  width: 70px;
  background-color: #f3af3b;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}

/* Two lines below portfolio end*/

@media screen and (min-width: 1345px) {
  .blog-section {
    width: 90%;
  }
}

@media screen and (max-width: 520px) {
  .blog-section {
    width: 100%;
    margin: auto;
    margin-bottom: 350px;
  }
    
  .BlogCardWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 376px) {
  .blog-section {
    width: 100%;
    margin: auto;
    margin-bottom: 490px;
  }
}
.heading {
  font-family: 'Belleza';
  margin: 20px;
}
