@import url('https://fonts.googleapis.com/css2?family=belleza&display=swap');
.main-section{
    width: 70%;
    margin: auto;
    min-height: 70vh;
}

@media screen and (max-width:520px)
{
    .main-section{
        width: 99%;
    }
}
.heading{
    font-family: "Belleza";
    margin: 15px;
}
