.card-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 28px;
}
.card-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.btnViewMore {
  background-color: #f3af3b;
  color: #000;
}
.btnViewMore:hover {
  border: 1px solid #f3af3b;
}
/* .blocard{
    width: 20rem;
        background-color: '#FAF8F1';
        height: 290px;
        display: inline-block;
        margin: 7px;
} */
@media screen and (max-width:630px){
  .card{
    width: 80%;
  }
}
